name: Build and deploy frontend

on:
  push:
    branches: [ main ]

env:
  IMAGE_NAME: itec_frontend

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        id: buildx
        with:
          install: true
          
      - name: Build image
        run: docker build ./itec-frontend --tag $IMAGE_NAME --label "runnumber=${GITHUB_RUN_ID}"

      - name: Deploy
        run: |
          docker login -u ${{ github.repository_owner }} -p ${{ secrets.CR_PAT }} ghcr.io
          IMAGE_ID=ghcr.io/${{ github.repository_owner }}/$IMAGE_NAME
          IMAGE_ID=$(echo $IMAGE_ID | tr '[A-Z]' '[a-z]')
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')
          [ "$VERSION" == "master" ] && VERSION=latest
          echo IMAGE_ID=$IMAGE_ID
          echo VERSION=$VERSION
          docker tag $IMAGE_NAME $IMAGE_ID:$VERSION
          docker push $IMAGE_ID:$VERSION

  deploy-frontend:
     needs: [ build-frontend ]
     runs-on: ubuntu-latest
     steps:
       - name: Pull & run image on server
         uses: appleboy/ssh-action@master
         with:
           username: ${{ secrets.USERNAME }}
           key: ${{ secrets.SSH_KEY }}
           script: sudo /home/docker/deploy.sh /home/docker/itec/itec-frontend latest
